{{ partial "header.html" . }}

<style>
  {{ readFile "/themes/ultramin/static/css/card.css" | safeCSS }}
</style>

<section id=content>
  <ul class=posts_listing>
    {{ range where .Site.Pages "Section" .Section }}
    {{ if not .Params.hidden }}
      <li>
<div class="card">
        <h1><a href="{{ .Permalink }}">{{ .Title }} ({{ .Params.lang }})</a></h1>
        <div class="container">
        <p> {{ .Description }}</p>
        </div>
</div>
      </li>
    {{ end }}
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}
